<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdhxqh.bowei"
    android:versionCode="2"
    android:versionName="2.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.OrderListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.MaintenanceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.ServiceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.ServeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.OrderTaskActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.TaskDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.MaintenanceRealInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.ServeRealInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.ServiceRealInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.WorkerInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.PlanMaterialDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.RealMaterialDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.AddWorkerInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.AddMaterialInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.AddOrderMaintenanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.In_Company_Activity"
            android:label="@string/title_activity_in__company_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.In_Deptinventory_Activity"
            android:label="@string/title_activity_in__company_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddOrderServeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.AddOrderServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.ItemChooseListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Anim_fade" />
        <activity
            android:name=".ui.activity.KnowKedgeDetailsActivity"
            android:label="@string/title_activity_know_kedge_details" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_search"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.activity.SettingDownloadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_search"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 二维码扫描 -->
        <activity
            android:name=".ui.activity.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.Results_Activity"
            android:label="@string/title_activity_results_" >
        </activity>
        <activity
            android:name=".ui.activity.OrderSearchActivity"
            android:label="@string/title_activity_order_search" >
        </activity>
        <activity
            android:name=".ui.activity.About_us_Activity"
            android:label="@string/title_activity_about_us_" >
        </activity>


        <!-- 友盟配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5603c689e0f55a9e21001658" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />


        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 友盟配置结束 -->

    </application>

</manifest>